[run]
omit =
    */python?.?/io.py
    */python?.?/subprocess.py
    */python?.?/zipfile.py
    */pypy/lib-python/?.?/io.py
    */pypy/lib-python/?.?/subprocess.py
    */pypy/lib-python/?.?/zipfile.py
    */site-packages/nose/*
    */unittest2/*
